<h2 mat-dialog-title>Faq</h2>

<mat-dialog-content>
   <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Question</span>
      </div>
      <textarea class="form-control" [(ngModel)]="faq.question" required></textarea>
    </div>
    <br>
   <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Answer</span>
      </div>
      <textarea class="form-control" [(ngModel)]="faq.answer" required></textarea>
   </div>
<!-- Nav tabs -->
</mat-dialog-content>

<mat-dialog-actions>
    <div class="card-body text-center">
    <button mat-button mat-dialog-close class="btn btn-primary active mt-3" (click)="close()">Close</button>
    <button mat-button mat-dialog-close class="btn btn-primary active mt-3" (click)="save()">Save</button>
</div>
</mat-dialog-actions>